{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>


            <div class="text-center text-success " >
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            </div> 
            {% comment %} <div class="col-md-10 offset-1 mb-5" >
                    <form action="{% url 'matrice:Enregistrement'  %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button type="submit" class="btn btn-secondary btn-sm">Créer le compte</button>
                    </form>
            </div> {% endcomment %}
            <div class="col-md-10 offset-1 mb-5" >
            <form method="POST" action="">
                {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.last_name.errors}}
                    {% comment %} {{form.last_name.label_tag}} {% endcomment %}
                    {{form.last_name|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.first_name.errors}}
                    {% comment %} {{form.first_name.label_tag}} {% endcomment %}
                    {{form.first_name|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.email.errors}}
                    {% comment %} {{form.email.label_tag}} {% endcomment %}
                    {{form.email|as_crispy_field}}
                </div>
            </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.society.errors}}
                    {% comment %} {{form.email.label_tag}} {% endcomment %}
                    {{form.society|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.workstation.errors}}
                    {% comment %} {{form.email.label_tag}} {% endcomment %}
                    {{form.workstation|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.is_collaborater.errors}}
                    {% comment %} {{form.email.label_tag}} {% endcomment %}
                    {{form.is_collaborater|as_crispy_field}}
                </div>
                 <div class="form-field">
                    {{form.is_superuser.errors}}
                    {% comment %} {{form.is_superuser.label_tag}} {% endcomment %}
                    {{form.is_superuser|as_crispy_field}}
                </div>
                <div class="form-field">
                    {% comment %} {{form.is_staff.errors}} {% endcomment %}
                    {% comment %} {{form.is_staff.label_tag}} {% endcomment %}
                    {{form.is_staff|as_crispy_field}}
                </div>

                <div class="form-field">
                    {{form.password1.errors}}
                    {% comment %} {{form.password1.label_tag}} {% endcomment %}
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="form-field">
                    {{form.password2.errors}}
                    {% comment %} {{form.password2.label_tag}} {% endcomment %}
                    {{form.password2|as_crispy_field}}
                </div>

                <hr>
                <button type="submit" name="btnform1" class="save btn btn-secondary">VALIDER</button>

            </form>
            </div> 

                    </div>
                </main>

{% endblock%}
